.header{
    background-color: #FC6600;
    color: white;
    display: flex;
    justify-content: center;
    position: relative;
}
.headerContainer{
    width: 100%;
    max-width:1024px ;
    margin: 20px 0px 100px 0px;
}
.headerContainer.listMode{
    margin: 20px 0px 0px 0px
}

.headerList{
    display: flex;
    gap: 45px;
    margin: 40px;
    margin-bottom:40px;
}
.headerListItem{
    display: flex;
    align-items: center;
    gap: 10px;
}
.headerListItem.active{
    border: 1px solid white;
    padding: 10px;
    border-radius: 20px;
}

.headerDesc{
    margin: 20px 0px;
}

.headerBtn{
    background-color:blue;
    color: white;
    font-weight: 500;
    border: None;
    padding: 10px;
    cursor: pointer;
}

.headerSearch{
    height: 30px;
    background-color:olive ;
    border: 3px solid black;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 10px 0px;
    border-radius: 5px;
    position: absolute;
    bottom: -25px;
    width: 100%;
    max-width: 1024px;

} 

.headerIcon{
    color: white;
}
.headerSearchItem{
    display: flex;
    align-items: center;
    gap: 10px;

}
.headerSearchInput{
    border: none;
    outline: none;
    color: blueviolet;
}
.headerSearchText{
    color: lightgrey;
    cursor: pointer;
}
.date{
    position:absolute;
    top: 50px;
    z-index: 2;
}

.options{
    z-index: 2;
    position: absolute;
    top:50px;
    background-color:white;
    color: gray;
   border-radius: 5px;   
}
.optionItem{
width:200px;
display: flex;
justify-content: space-between;
margin: 10px;

}
.optionContainer{
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 10px;
    color: balck;

}
.optionCounterButton{
    width: 30px;
    height: 30px;
    border: 1px solid #ADD8E6;
    cursor: pointer;
    background-color: white;
    color:#ADD8E6;
}

.optionCounterButton:disabled{
    cursor: not-allowed;
}